.home-page-container {
    .home-page-hero {
        padding-top: 10px;
        margin-bottom: 2.5rem;
        .home-page-content {
            color: black;
            margin-right: 2.5rem;
            height: 520px;
            position: relative;
            h1 {
                // margin-top: 2rem;
                font-family: "Quicksand", cursive;
                font-weight: 400;
                font-size: 4.5rem;
                // line-height: 1.9;
                transform: rotate(-10deg);
                // position: absolute;
                // top: 0;
                // left: 0;
            }
            p {
                font-size: 1.25rem;
                line-break: normal;
                margin: 1rem;
            }
            .go-btn {
                max-width: unset;
                text-align: center;
            }
        }
        .imgs-container {
            width: 400px;
            margin: auto;
            z-index: -1;
            &>img {
                width: 100%;
            }
        }
        .carousel-img {
            animation-name: home-page-carousel;
            animation-duration: 30s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
        }
        .home-pic-1 {
            opacity: 0;
            animation-delay: 24s;
        }
        .home-pic-2 {
            opacity: 0;
            animation-delay: 16s;
        }
        .home-pic-3 {
            opacity: 0;
            animation-delay: 8s;
        }
        .home-pic-4 {
            opacity: 0;
            animation-delay: 0;
        }
        @keyframes home-page-carousel {
            0% {
                opacity: 0;
            }
            6% {
                opacity: 1;
            }
            25% {
                opacity: 1;
            }
            31% {
                opacity: 0;
            }
            100% {
                opacity: 0;
            }
        }
    }
}

@media (max-width: 750px) {
    .home-page-container {
        .home-page-imgs-container {
            display: none;
        }
        .home-page-hero {
            .home-page-content {
                margin: auto;
                h1 {
                    // left: 0
                    transform: rotate(-10deg);
                }
            }
        }
        .top-rated-list {
            h1 {
                text-align: center;
            }
        }
    }
}