    .dashboard {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        .dashboard-basic-info {
            grid-column: 1/2
        }
        .dashboard-socials-info {
            grid-row: 1/1;
            grid-column: 2/2;
            text-align: left;
            margin-left: 10px;
        }
        .dash-avatar {
            margin: 0 auto;
            width: 300px;
        }
    }
    
    .tags {
        list-style: none;
        margin: 0;
        overflow: hidden;
        padding: 0;
    }
    
    .tags li {
        float: left;
    }
    
    .influencer-tag {
        background: #eee;
        border-left-color: $clr3;
        color: white;
        background-color: $clr3;
        border-radius: 3px 0 0 3px;
        // color: #999;
        display: inline-block;
        height: 26px;
        line-height: 26px;
        padding: 0 20px 0 23px;
        position: relative;
        margin: 0 10px 10px 0;
        text-decoration: none;
    }
    
    .influencer-tag::before {
        background: #fff;
        border-radius: 10px;
        box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
        content: '';
        height: 6px;
        left: 10px;
        position: absolute;
        width: 6px;
        top: 10px;
    }
    
    .influencer-tag::after {
        // border-left-color: crimson;
        background: #fff;
        border-bottom: 13px solid transparent;
        border-left: 10px solid $clr3;
        border-top: 13px solid transparent;
        content: '';
        position: absolute;
        right: 0;
        top: 0;
    }