.filter-tags-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    z-index: 10;
    display: grid;
    grid-auto-rows: 50px;
    grid-template-columns: repeat(5, 1fr);
    max-width: 80%;
    margin-left: 15px;
    margin-top: 10px;
    box-shadow: 0 0 10px $clr2;
    padding: 10px;
    
    .checkbox-container{
        margin: 10px 12px;
    }
    
}

@media (max-width: 600px) {
    .filter-modal.filter-tags-container {
        margin-left: 0;
        transform: translateX(0);
        left: 2%;
        max-width: 95%;
        width: 95%;
        grid-template-columns: repeat(3, 1fr);
        font-size: 1.3rem;
        text-align: center;
    }
}