.filter-followers-container {
    position: absolute;
    padding: 25px;
    background-color: #fff;
    z-index: 10;
    right: 35%;
    transform: translateX(50%);
    width: 70%;
    margin-top: 10px;
    box-shadow: 0 0 10px $clr2;
    & > * {
        margin-bottom: 20px;
    }

}

@media (max-width: 600px) {
    .filter-modal.filter-followers-container {
        transform: translateX(0);
        right: 0;
        left: 2%;
        width: 95%;
    }
}