.influencer-create-container>* {
    margin-bottom: 20px;
}

.gender-select-container {
    .gender-select {
        margin-left: 35%;
        label {
            // margin-left: 20px;
        }
    }
}

.socials-select {
    margin-left: 15%;
}

.socials-select>label {
    margin-right: 2.5rem;
}