.influencer-details-socials-hero-container {
  font-size: 1.3rem;
}

.social-names {
  font-family: Quicksand-Bold;
}

.active-socials-count-text {
  margin-block-end: 1rem;
}

.socials-count {
  font-family: Quicksand-Bold;
}
