.influencer-details-container {
  display: grid;
  grid-template-columns: 3fr 5fr 2fr;
  grid-template-rows: 1fr 9fr;
  column-gap: 0.5fr;
  margin-block-start: 0.5rem;
}

.influencer-header {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin-block-end: 0.5rem;
}

.influencer-photos-carousel {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.influencer-details-socials {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.influencer-details-right-side-bar {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  display: grid;
  grid-template-rows:  1fr 2fr;
}

.influencer-details-footer {
  grid-row: 1 / 2;
  padding-inline-start: 1rem;
}

.send-offer-container {
  grid-row: 2 / 3;
}

.send-offer-btn {
  text-transform: capitalize;
  padding: 1rem;
  font-size: 1.2rem;
  background-color: #ff2e63;
  color: white;
  width: fit-content;
  height: fit-content;
  font-family: Quicksand-Bold;
  &:hover {
    cursor: pointer;
  }
}


