.msg-container {
    z-index: 1000;
    border-radius: 5px;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);;
    padding: 0 10px;
    background-color: $clr4;
    display: inline-block;
    text-align: center;
    h1 {
        color: white;
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}