.main-layout {
    display: grid;
    grid-template-columns: minmax(1rem, auto) minmax(auto, 1200px) minmax(1rem, auto);
    grid-template-rows: minmax(min-content, max-content) auto 50px;
    min-height: 100vh;
    >* {
        grid-column: 2;
    }
    .header {
        grid-column: 1/-1;
        grid-row: 1 /2;
    }
    .home-page-hero {
        grid-row: 1 /-1;
    }
    background-image:url("~@/assets/img/bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media (max-width: 665px) {
    .main-layout {
        >* {
            grid-column: 1/-1;
        }
    }
}