@font-face {
  font-family: "Caveat";
  src: url("../assets/fonts/Caveat/Caveat-Regular.ttf");
}
@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/Rubik/Rubik-Regular.ttf");
}
@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato/Lato-Regular.ttf");
}
@font-face {
  font-family: "Pacifico";
  src: url("../assets/fonts/Pacifico/Pacifico-Regular.ttf");
}
@font-face {
  font-family: "Rock Salt";
  src: url("../assets/fonts/Rock_Salt/RockSalt-Regular.ttf");
}
@font-face {
  font-family: "Permanent Marker";
  src: url("../assets/fonts/Permanent_Marker/PermanentMarker-Regular.ttf");
}
@font-face {
  font-family: "Aveny-t";
  src: url("../assets/fonts/Aveny-t/Aveny-t.ttf");
}
@font-face {
  font-family: "Quicksand-Medium";
  src: url("../assets/fonts/Quicksand/Quicksand-Medium.ttf");
}
@font-face {
  font-family: "Quicksand";
  src: url("../assets/fonts/Quicksand/Quicksand-Regular.ttf");
}
@font-face {
  font-family: "Quicksand-Bold";
  src: url("../assets/fonts/Quicksand/Quicksand-Bold.ttf");
}
@font-face {
  font-family: "Opensans-Light";
  src: url("../assets/fonts/Open-sans/OpenSans-Light.ttf");
}
@font-face {
  font-family: "Opensans";
  src: url("../assets/fonts/Open-sans/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "Opensans-Bold";
  src: url("../assets/fonts/Open-sans/OpenSans-Bold.ttf");
}

// FONT AWESOME
@import "~font-awesome/css/font-awesome.css";
