// COLOR PALETTE
// $clr1: #1A090D;
// $clr2: #4A314D;
// $clr3: #6B6570;
// $clr4: #A8BA9A;
// $clr5: #ACE894;
$clr1: #757761;
$clr2: #4A314D;
$clr3: #4A314D;
$clr5: #8FF7A7;
$clr4: #51BBFE;
$break-narrow: 460px;
$break-normal: 740px;
$break-wide: 960px;